$mediaXl:"(min-width:1200px)";
$mediaL:"(min-width:992px) and (max-width:1199px)";
$mediaM:"(min-width:768px) and (max-width:991px)";
$mediaS:"(max-width:767px)";
$mainColor:#9678D3;
$secondaryColor:#a2a569;
$float-left:left;
$float-right:right;
$transition: all .4s ease-in-out;
$boxShadow: 0 0 10px 0px #ccccccb8;
$font: 'Nunito Sans', sans-serif;


